/*
    default.css
    Default styles for jquery-sections plugin.
    George Lesica <glesica@gmail.com>
    
    Some of these can be overridden without affecting 
    the resulting layout. These have been noted below.
    The css/demo.css file overrides several of these 
    styles and adds a few extras to spruce up the 
    demo.html file a bit.
*/

.jqs-container {
    overflow: hidden;
}

.jqs-titles {
    width: 100%;
}

.jqs-title {
    cursor: pointer;
    display: inline-block;
}

.jqs-contents {
    overflow: hidden;
    width: 100%;
}

.jqs-content {
    width: 100%;
}


